body {
    background-color: #f1f1f1;
}

.navbar {
    height: 100px;
    background-color: #8338EC;


    a {
        color: #fff;

        &:hover {
            color: #f02d00;
        }
    }
}

.dropdown-menu {

    a {
        color: #161616;
    }
}

.headerRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    h5 {
        color: #fff;
    }
}