.cartItems {
    background-color: rgb(236, 236, 236);
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}

.producto {
    width: 45%;
}

.precio {
    width: 10%;
}

.qty {
    width: 10%;
}

.ultimo {
    width: 18%;
}