.linkOrden{
    cursor: pointer;
    text-decoration: underline;
    color: #3A86FF;
    font-weight: bold;
}
.bradius{
    border-radius: 10px;
    cursor: pointer;
}
.orderDetail{
    font-size: 24px;
}