.itemListFlex {

    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f02d00;
}

.btn {
    border-radius: 0;
    background-color: #3A86FF;
    border: none;
    color: #fff;

    &:hover {
        background-color: #FF006E;
        color: #fff;
    }
}

a {
    text-decoration: none;

    h3 {
        font-size: 18px;
        color: #161616;

        &:hover {
            color: #f02d00;
        }
    }
}

.itemProducto {

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    img {
        border-radius: 10px;
    }


}